@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", "Roboto", system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

@page {
  /* Suppress default headers and footers and stick to A4 format */
  size: A4 portrait;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
